.blue-infographic{
    position: relative;
    background-color: $primary-blue;
    border-radius: 30px;

    .blue-infographic-container{
        position: relative;
     
        h1{
            color: white;
          
           
        }

        h3{
            color: white;
            max-width: 90%;
            
        }

    }

    .infographic-row{
        position: relative;

        .icon-image-holder{
            position: relative;
            width: 100%;
           
            background: white;
            border-radius: 48px;

    
            img{
                position: relative;
                width: 80%;
                max-height: 214px;
               
            }
        }


        .image-left-column{
            position: relative;
            
        }

        @include media-breakpoint-up(md){
            .image-left-column{
                margin-left: -48px;
            }

        }
        @include media-breakpoint-up(lg){
            .image-left-column{
                margin-left: 0px;
            }

        }

   

        .text-aligned-right{
            position: relative;
        }

    
        p{
            color: white;
            max-width: 400px;
        }
    
        h4{
            color: $dark-grey;
          
        }

        .max-width-text{
            max-width: 544px;
        }
 
    }

    hr{
        background: linear-gradient(to right, white 33%, transparent 33% 34%, white 35% 66%, transparent 67%, white 89%, white 100%);
    }
}