.white-infographic{
    position: relative;
    
    background-color: white;
 

    h4{
        color: $primary-blue;
    }

    .text-column{
        position: relative;
      
        
    }

    .image-column{
        position: relative;
        
    }

    img{
        position: relative;
        margin-top: -24px;
        width: 100%;
        border-radius: 100px;
       
    }

    .border-colour-red{
        filter: drop-shadow(8px 8px 0px #F94239);
       
    }

    .border-colour-green{
        filter: drop-shadow(-8px 8px 0px $primary-green);
    }

    .border-colour-blue{
        filter: drop-shadow(8px 8px 0px $primary-blue);
    }

    @include media-breakpoint-up(md){
        .border-colour-red, .border-colour-blue{
            margin-top: 0px;
        }
    }

    .bottom-p{
     
    }

    span{
        color: $primary-blue
    }
}