/**
 * Variables
 * ---------
 */

@import "_easings";
@import "_fonts";

//Primary Colours
$primary-blue: #00A7B5;
$primary-red: #F94239;
$primary-green: #CFDF00;
$primary-grey: #898A8C;


//Secondary Colours
$dark-grey: #3B3A3C;

//Margin & Padding
$spacer: 12px;
$spacers: () !default;
$spacers: map-merge(
    (
        0: 0,
        1: ($spacer * 1),
        2: ($spacer * 2),
        3: ($spacer * 3),
        4: ($spacer * 4),
        5: ($spacer * 5),
        6: ($spacer * 6),
        7: ($spacer * 7),
        8: ($spacer * 8),
        9: ($spacer * 9),
        10: ($spacer * 10),
        11: ($spacer * 11),
        12: ($spacer * 12),
        14: ($spacer * 14),
        18: ($spacer * 18),
        20: ($spacer * 20),
        25: ($spacer * 25),
    ),
    $spacers
);