.bottom-block-text{
    position: relative;
    margin-top: 72px;
    color: white;
    
    h4{
        position: relative;
        margin-bottom: 16px;
        max-width: 90%;
    }

    p{
        position: relative;
        margin-bottom: 16px;
    }

    a{
        color: black;
    }

    .p-max{
        max-width: 75%;
    }

}