footer{
    position: relative;
    // margin-top: 100px;
    // padding-bottom: 48px;

    .footer-container{
        position: relative;
        


        a{
            cursor: pointer;
            text-decoration: none;
            color: white;
        }
    }

    .copyright-text-wrapper{
        position: relative;
        color: white;
       
        .copyright-text-div{
            position: relative;
            width: 100%;
            
          
                
        }

        span{
            text-align: center;
            // align-self: end;
            margin-top: 12px;
        }
        
    }

    @include media-breakpoint-up(lg){
        .copyright-text-div{
            padding-right: 10%;
                
        }

        span{
            align-self: end;
        }

    }


    @include media-breakpoint-down(md){
        a{
            margin-bottom: 24px;
        }
    }



}