header{
    position: relative;
    
    .header-container{
        position: relative;
    }


}

.nav-container{
    position: relative;
    color: white;

    a{
        cursor: pointer;
        text-decoration: none;
        color: white;
    }

    .navigation{
        position: relative;
        width: 100%;
        
    }

    @include media-breakpoint-down(lg){
        .desktop-menu{
            display: none;
        }
    }


    img{
        height: 35px;
        width: 35px;
        

        color: white;
      
    }

    .mobile-nav-menu{
        display: inline-block;
        cursor: pointer;

        button{
            position: relative;
           
            
            outline: none;
            border: none;
            background: none;
        }

        .bar-1, .bar-2, .bar-3{
            position: relative;
            width: 20px;
            height: 3px;
            background-color: white;
            margin: 3px 0;
            transition: 0.4s;

            @media(min-width: 375px) and (max-width: 575px) {
                width: 26px;
                margin: 4px;
            }

            
            
        }

    
        @include media-breakpoint-up(sm){
            .bar-1, .bar-2, .bar-3{
                width: 34px;
                height: 6px;
                margin: 5px 0;

            }
        }

        .bar-1.change{
            opacity: 0;


        }

        .bar-2.change{
            -webkit-transform: rotate(-90deg) translate(-8px, 6px) ;
            transform: rotate(-90deg) translate(-6px, 6px) ;
        }

        .bar-3.change{

            opacity: 0;
        }  

      
    }  
}

.mobile-toggle{
    display: none;
}

.mobile-toggle-menu{
    position: absolute;
    display: none;
    top: 5%;
    width: 100%;
    height: 50%;
    background-color: $dark-grey;
    z-index: 100;
    color: white;

    @media (min-width: 270px) and (max-width: 409px ){
        top: 7%;
    }

    @media (min-width: 410px) and (max-width: 575px ){
        top: 10%;
    }

    a{
        position: relative;
        margin-top: 48px;
        font-size: 24px;
    }

    hr{ 
        width: 50%;
    }

}

@include media-breakpoint-up(sm){
    .mobile-toggle-menu{
        top: 12%;
    }

}


.mobile-toggle.show{
    display: flex;
}

