.hero-wrapper{
    position: relative;
    background-image: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ),  url("../images/hero-background-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  

    .hero-container{
        position: relative;
       
       
        .heading-container{
            position: relative;
            color: white;
            max-width: 70%;
       
           
        }

    }

    .hero-image-container{
        position: relative;
    }

    .hero-image{
        position: relative;
        align-self: center;
        right: 0;
        border-radius: 100px 0px 0px 100px;
        box-shadow: 0px 20px 0px 10px #00A0AC;
        object-fit: cover;
        object-position: top right;
       

    }

    @include media-breakpoint-up(xl){
        .hero-image{
           // width: 780px;
           position: absolute;
           max-height: 720px;   
          
        }
    }

    @include media-breakpoint-down(lg){
        .hero-image{
            filter: drop-shadow(0px 10px 0px #00A0AC);
            border-radius: 0px 0px 100px 100px;
            max-width: 75%;
        }

        // .heading-container{
        //     padding-top: 24px;
        // }
    }

    @include media-breakpoint-down(md){
        .hero-image{
            max-width: 100%;
        }
    }


   
    
}