.infographic-button{
    position: relative;
    padding: 18px 12px 18px 12px;
    background-color: $primary-green;
    width: 100%;
    border-radius: 100px;
    margin-top: 48px;
    color: black;
    cursor: pointer;

    a{
        position: relative;
        color: black;
        background-color: $primary-green;
    }

    &:hover{
        opacity: 92%;
        filter: drop-shadow(1px 1px 3px black);
        
       
    }

}

@include media-breakpoint-up(md){
    .infographic-button{
        max-width: 200px;
    }
}

