.text-hero-wrapper{
    position: relative;
 

    .text-hero-container{
        position: relative;
        color: white;

        .heading-container{
            position: relative;
          
            

            h3{
                position: relative;
                width: 85%;
                
            }

 
        }
        
    }
}


