.blob-illustration-wrapper{
    position: relative;
   
    .blob-background-container{
        position: relative;
        min-height: 680px;
        text-align: center;
        color: white;

        p{
            position: relative;
            margin-bottom: 0;
        }
    }

    // @include media-breakpoint-down(xl){
    //     .blob-background-container{
    //         min-height: 580px;

    //     }
        
    // }

    @include media-breakpoint-down(lg){
        .blob-background-container{
            min-height: 580px;

        }
        
    }

    @include media-breakpoint-down(md){
        .blob-background-container{
            min-height: 420px;

        }
        
    }

    @include media-breakpoint-down(sm){
        .blob-background-container{
            min-height: 300px;

        }
        
    }

    .blob-background-image-1{
        background-image: url("../images/outline-overlooking-soft-factors-02.svg");
        background-repeat: no-repeat;
        background-position: center;
      

    }

    .blob-background-image-2{
        background-image: url("../images/outline-slowdowns-01.svg");
        background-repeat: no-repeat;
        background-position: center;

    }
    .blob-background-image-3{
        background-image: url("../images/outline-knowledge-in-practice-gap-02.svg");
        background-repeat: no-repeat;
        background-position: center;

    }
}

